<html>
<head>
    <title>InterviewBit</title>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/questions.js"></script>
</head>
<body>
<div class="questionspage">
    {{#each ques}}
        <div id="inserthere">

            <table>

                <tr value="{{QID}}">

                    <td>
                    <a href="/{{QID}}" class="ques">
                        <span style="display:none">{{QID}}</span>
                    </a>
                    </td>

                    <td>
                        {{Rate}}
                    </td>

                </tr>

            </table>

        </div>
    {{/each}}
</div>
</body>
</html>